@import "tailwindcss";
@config "../tailwind.config.ts";

@theme inline {
  --color-brand-dark: #1a1c1c;
  --color-brand-accent: #6ed4f1;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

html,
body {
  height: 100%;
}
